*{	
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration:none;
}
.head-warp{
	height:32px;
	background-color: #f4f4f4;
	margin:0 auto ;
}
.head{
	width: 1200px;
	margin:0 auto;
}

.head p{
	font-size:12px;
	line-height:32px;
	color:#333;
}
.head span{
	margin-right:10px;
}
.head img{
	vertical-align:middle;
	margin-right:5px ;
}
.p-r{
	float:right;
}
.head a{
	color:black;
}
/* 第二部分 */
.head1{
	height: 160px;
	text-decoration:underline;
	color:red;
	border-bottom:3px solid #e00304 ;
}
.head11{
	width: 1200px;
	height:120px;
	margin:0 auto;
}
.head11 p{
	margin:40px 0 0 196px;
	float:left;
}
.head11 input{
	width: 410px;
	height: 35px;
	border:2px solid #f83838 ;
	font-size:14px;
	color:#e1e1e1;
	text-indent: 1em;
}
.shop{
	width:150px;
	height: 40px;
	background-color: #f5f5f5;
	border:1px solid #e3e3e3;
	text-align:center;
	line-height:40px;
}
.shi{
	width: 89px;
	height: 39px;
	background-color:#f83838 ;
	text-align:center;
	line-height:40px; 
	color:#fff;
	font-size:16px;
}
/* 第三 */
.nav{
	width:1200px;
	height: 40px;
	margin:0 auto;
}
.nav p{
	float: left;
	font-size:16px;
	line-height:40px;
	margin:0;
	float:left;
}
.nav p a{
    color: #333;
    font-size: 16px;
    float: left;
    text-align: center;
    width: 102px;
    height: 40px;
}
.nav p a:hover{
	background-color: #fd0304;
	border-radius:5px;
	color: #fff;
}

.body{
	height: 650px;
	background-color: #fbfbfb;
	margin:0 auto;
}
.bob{
	height:650px;
	width:1200px;
	margin:0 auto;
}
.bob a{
	font-size: 14px;
	color:#333;
}
.zuo{
	width:216px;
	height: 566px;
	float: left ;
}
.zuo1{
	height:44px;
	line-height:44px;
	background-color: #fff;
}
.zuo1 img{
	vertical-align:middle;
	margin-left: 34px;
	margin-right: 25px;
}
.zuo2{
	line-height:44px;
	background-color: #fff;
}
.zuo a{
	font-size: 14px;
	color:#333;
} 
.you{
	width:972px;
	height:560px;
	margin:17px 0 12px 0;
	float:left;
} 
.you li{
	width: 222px;
	height: 255px;
	position: relative;
	float: left;
	text-align:center;
	border:1px solid #dbdbdb;
	margin:0 0 15px 15px;   
}
.pp{
	font-size:16px;
	color:#a3a3a3;
}

/* 底部 */
.clear{
	content: "";
	display: block;
	clear: both;
}
.dibu{
	height: 247px;
	background-color: #2e2e2e;
}
.dibu.jz{
	width: 1200px;
	height:148px;
	margin:0 auto;
}
.ll{
	width:270px;
	height:130px;
	float:left;
}
.ll p{
	margin-top: 5px;
	font-size: 16px;
	color:#fff;
}
.ll ul li{
	margin-top: 14px;
	font-size: 14px;
	color:#fff;
	}
}
.jz li ul li{
	margin-top:12px;
	float:left;
}
.last{
	text-align:center;
	font-size:14px;
	color:#a4a4a4;
}
.shu{
	margin-left:8px;
	margin-right:8px;
}


